body {
margin: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 100vh;
gap: 20px;
}

#setup{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100%;
text-align: center;
padding: 20px;
border: 1px solid #ccc"
}

#cards,
#player,
#choice,
#winblock {
align-items: center;
display: flex;
gap: 5px;
justify-content: space-evenly;
}

#cards {
display: flex;
font-size: 20px;
flex-wrap: wrap;
}

#cards div {
display: inline;
text-align: center;
border: 2px solid black;
margin: 2px;
}

#cards div div {
font-size: 20px;
border: none;
gap: 7px;
}

#choice {
display: flex;
flex-direction: column;
justify-content: center;
}

#choice div{
 display: flex;
 gap: 10px;
}


button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #333;
  background-color: #f0f0f0;
  transition: background 0.2s;
  min-width: 80px; 
}

button:hover {
  background-color: #e0e0e0;
}

#player h3 {
  font-size: 28px; 
  margin: 10px 0;
}


#playersInput {
  padding: 10px;    
  font-size: 15px; 
  width: 120px;     
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px; 
}


